{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

<h1>Homepage</h1>

<h2>Pages</h2>

<h3><a href="/counter/0">Counter</a></h3>

<h3>Ask a question</h3>

<ul>
    <li><a href="/question/why-do-trees-breath-carbon-dioxide">Why do trees breath carbon dioxide?</a></li>
    <li><a href="/question/why-am-i-not-yet-a-millionaire">Why am I not yet a millionaire?</a></li>
    <li><a href="/question/why-are-we-here">Why are we here?</a></li>
</ul>

<h3>Add 6</h3>

<ul>
    <li><a href="/addsix/1">Add 6 to 1</a></li>
    <li><a href="/addsix/2">Add 6 to 2</a></li>
    <li><a href="/addsix/3">Add 6 to 3</a></li>
</ul>
{% endblock %}